html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;
  display: flex;
}

/* NAVBAR section */

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(68, 50, 151);
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar_frame .navbar__top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar__top > a img {
  margin-right: 76px;
  width: 117px;
  height: 36px;
}

.navbar_frame .navbar__top .nav-search__frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
}

.navbar_frame .navbar__top .search__box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search__box .categry__list {
  width: 166px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid rgba(214, 214, 214, 1);
}

.navbar_frame .categry__list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}

.navbar_frame .search__box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;
  border: none;
  outline: none;
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .nav-search__frame .search-icon__box {
  width: 55px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px6px6px0px;
  background: rgba(245, 195, 75, 1);
}

.navbar_frame .search-icon__box img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.navbar_frame .navbar__top .nav-top__menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav-top__menu .top-menu__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar_frame .top-menu__box .box-icon__box {
  position: relative;
  margin-right: 15px;
  width: 54.84px;
  height: 50px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .box-icon__box img {
  width: 24.13px;
  height: 22px;
}

.navbar_frame .top-menu__box .box-info__box {
  display: flex;
  flex-direction: column;
}

.navbar_frame .box-info__box span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost, sans-serif;
  font-size: 14px;
  font-weight: undefined;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box-info__box strong {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: undefined;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box-icon__box .basket-count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -5px;
  right: -4px;
  background-color: #f5c34b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(11, 30, 64, 1);

  font-family: Jost, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 50%;
}

.navbar__bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #5746a1;
}

.navbar__bott .navbar-bot__menu {
  margin-top: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

.navbar-bot__menu .browse-box {
  width: 185px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
}

.browse-box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.browse-box span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar-bot__menu .navbar-route__menu {
  margin-left: 12px;
  width: 690px;
  display: flex;
  flex-direction: row;
}

.navbar-route__menu .router__menu {
  margin-right: 20px;
  width: auto;
  height: 41px;
  display: flex;
}

.router__menu a {
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}

.router__menu a.active {
  color: #f5c34b;
}

.navbar-bot__menu .sorting_menu {
  display: flex;
  flex-direction: row;
}

.sorting_menu span {
  margin-left: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
}

/* FOOTER SECTION */

.home-main__section .footer-section {
  position: relative;
  padding: 90px 0 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
}

.footer-spec_title {
  margin-bottom: 30px;
  display: block;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-section .container {
  display: flex;
  flex-direction: column;
}

.container .footer-top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.footer-top .footer-contact_box {
  display: flex;
  flex-direction: column;
}

.footer-contact_box .footer-contact_main {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.footer-contact_main img {
  width: 30px;
  height: 30px;
}

.footer-contact_main div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer-contact_main div strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-contact_main div span {
  margin-top: 10px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-top .footer-support_box {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.footer-support_box a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-top .footer-media-box {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
}

.footer-media-box .footer-media_main {
  display: flex;
  flex-direction: column;
}
.footer-media_main .media-box {
  display: flex;
  flex-direction: row;
}
.media-box i {
  margin-right: 25px;
  font-family: Font Awesome 5 Brands;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.footer-media_main .mobile-app_box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobile-app_box img {
  width: 24px;
  height: 16px;
}
.mobile-app_box span {
  margin-left: 20px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  /* line-height: 40px; */
  letter-spacing: 0%;
  text-align: left;
}

.footer-media_main .card-box {
  width: 272px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .footer-bottom {
  margin-top: 90px;
  width: 100%;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-top: rgba(234, 234, 234, 1);
}

.footer-bottom .footer-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.footer-main .footer-bottom_left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer-bottom_left span {
  margin-right: 60px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-main .footer-bottom_right {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom_right .footer-select_box {
  padding: 10px 20px;
  width: 180px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.footer-select_box span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  /* line-height: 40px; */
  letter-spacing: 0%;
  text-align: left;
}

.footer-select_box select {
  margin-left: 20px;
  width: 70;
  height: auto;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
   
}
