/* home-main__section */
.home-main__section {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.promo-section {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.promo-section .container {
  display: flex;
  flex-direction: row;
}

.container .hero-banner {
  position: relative;
  margin-right: 26.5px;
  width: 871px;
  height: 508px;
  background-color: #0053f6;
  background-image: url(../icons/header_bg.svg);
  border-radius: 5px;
}

.container .hero-banner .hero-banner__info {
  position: absolute;
  width: 350px;
  height: auto;
  margin: 101px 0 0 15px;
  display: flex;
  flex-direction: column;
}

.container .hero-banner__info .hero-banner__special {
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 6px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .hero-banner__info span {
  /* position: relative; */
  margin-top: 10px;
  width: 414px;
  height: 152px;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 55px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}

.container .hero-banner__info .hero-banner__discount {
  margin-top: 15px;
  width: 253px;
  height: 56px;

  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 14px;
  font-weight: 450;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .hero-banner__info .hero-banner__button {
  width: 135px;
  height: 52px;
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  background-color: #ffffff;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.container .hero-banner__info .hero-banner__button:hover {
  background-color: #f5c34b;
  color: #ffffff;
}

.container .hero-banner .hero-banner__image {
  position: absolute;
  top: 68px;
  right: 10px;
}

.container .mini-banners {
  width: 422px;
  height: 508px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .mini-banners .banner {
  height: 240px;
  /* margin-bottom: 28px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.container .banner .banner-left {
  margin: 51px 0 0 40px;
  display: flex;
  flex-direction: column;
}

.container .banner-left .banner-price {
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .banner-left .banner-name {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.container .banner-left .banner-button {
  /* Button-Line */
  width: 122.3px;
  height: 27px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3;
  cursor: pointer;
  transition: 0.4s;
}

.container .banner-left .border-line {
  width: 32px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
  transition: 0.4s;
}

.container .banner-left .banner-button:hover + .border-line {
  width: 127.33px;
  height: 2px;
}

/* service-section */

.home-main__section .service-section {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.home-main__section .service-section .container {
  flex-direction: row;
}

.home-main__section .container .service-contents {
  width: 25%;
  height: 86px;
  display: flex;
  margin-left: 9px;
  flex-direction: row;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.home-main__section .service-contents img {
  margin-right: 10px;
  width: 33px;
  height: 35px;
}

.home-main__section .service-contents .contents-info {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}

.home-main__section .contents-info span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.home-main__section .contents-info p {
  width: 216px;
  height: auto;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* shop-section */

.shop-section {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop-section .container {
  flex-direction: column;
}

.shop-section .container .category-top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-section .category-top span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.shop-section .category-top a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.shop-section .category-top .border-liner {
  width: 32px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
  transition: 0.4s;
}

.shop-section .container .category-wraper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-section .category-wraper .category-box {
  width: 152px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.shop-section .category-box .category-imgbox {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
  border: 1px solid rgba(234, 234, 234, 1);
}

.shop-section .category-box span {
  margin-top: 15px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
