/* home-main__section */
.home-main__section {
  display: flex;
  flex-direction: column;
}

.promo-section {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.promo-section .container {
  display: flex;
  flex-direction: row;
}

.container .hero-banner {
  position: relative;
  margin-right: 26.5px;
  width: 871px;
  height: 508px;
  background-color: #0053f6;
  background-image: url(../icons/header_bg.svg);
}

.container .hero-banner .hero-banner__info {
  position: absolute;
  width: 350px;
  height: auto;
  margin: 101px 0 0 15px;
  display: flex;
  flex-direction: column;
}

.container .hero-banner__info .hero-banner__special {
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 6px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .hero-banner__info span {
  /* position: relative; */
  margin-top: 10px;
  width: 414px;
  height: 152px;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 55px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}

.container .hero-banner__info .hero-banner__discount {
  margin-top: 15px;
  width: 253px;
  height: 56px;

  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 14px;
  font-weight: 450;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .hero-banner__info .hero-banner__button {
  width: 135px;
  height: 52px;
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  background-color: #ffffff;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.container .hero-banner__info .hero-banner__button:hover {
  background-color: #f5c34b;
  color: #ffffff;
}

.container .hero-banner .hero-banner__image {
  position: absolute;
  top: 68px;
  right: 10px;
}

.container .mini-banners {
  width: 422px;
  height: 508px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .mini-banners .banner {
  height: 240px;
  /* margin-bottom: 28px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.container .banner .banner-left {
  margin: 51px 0 0 40px;
  display: flex;
  flex-direction: column;

}

.container .banner-left .banner-price {
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .banner-left .banner-name {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.container .banner-left .banner-button {
  /* Button-Line */
  width: 122.3px;
  height: 27px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3;
  cursor: pointer;
  transition: 0.4s;
}

.container .banner-left .border-line {
  width: 32px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
  transition: 0.4s;
}

.container .banner-left .banner-button:hover  .border-line {
  width: 127.33px;
  height: 2px;
}
