/* home-main__section */
.home-main__section {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

/* PAGIONATION */
.container .pagionation_scroll {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagionation_scroll .pagionation-scroll_main {
  width: auto;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.container .pagionation-scroll_main .product-scroll__dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container .product-scroll__dot .dot {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
}

.container .product-scroll__dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}

.container .product-scroll__dot .dot div {
  width: 4px;
  height: 4px;
  background-color: rgba(17, 33, 55, 1);
  border-radius: 50%;
}
/* PAGIONATION END! */

/* top-sales_title */
.container .top-sales_title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .top-sales_title span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.container .view-all-link a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.container .view-all-link .border-box {
  width: 32px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
}
/* top-sales_title end*/

.promo-section {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.promo-section .container {
  display: flex;
  flex-direction: row;
}

.container .hero-banner {
  position: relative;
  margin-right: 26.5px;
  width: 871px;
  height: 508px;
  background-color: #0053f6;
  background-image: url(../icons/header_bg.svg);
  border-radius: 5px;
}

.container .hero-banner .hero-banner__info {
  position: absolute;
  width: 350px;
  height: auto;
  margin: 101px 0 0 15px;
  display: flex;
  flex-direction: column;
}

.container .hero-banner__info .hero-banner__special {
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 6px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .hero-banner__info span {
  /* position: relative; */
  margin-top: 10px;
  width: 414px;
  height: 152px;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 55px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}

.container .hero-banner__info .hero-banner__discount {
  margin-top: 15px;
  width: 253px;
  height: 56px;

  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 14px;
  font-weight: 450;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .hero-banner__info .hero-banner__button {
  width: 135px;
  height: 52px;
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  background-color: #ffffff;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.container .hero-banner__info .hero-banner__button:hover {
  background-color: #f5c34b;
  color: #ffffff;
}

.container .hero-banner .hero-banner__image {
  position: absolute;
  top: 68px;
  right: 10px;
}

.container .mini-banners {
  width: 422px;
  height: 508px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .mini-banners .banner {
  height: 240px;
  /* margin-bottom: 28px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.container .banner .banner-left {
  margin: 51px 0 0 40px;
  display: flex;
  flex-direction: column;
}

.container .banner-left .banner-price {
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .banner-left .banner-name {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.container .banner-left .banner-button {
  /* Button-Line */
  width: 122.3px;
  height: 27px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3;
  cursor: pointer;
  transition: 0.4s;
}

.container .banner-left .border-line {
  width: 32px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
  transition: 0.4s;
}

.container .banner-left .banner-button:hover + .border-line {
  width: 127.33px;
  height: 2px;
}

/* service-section */

.home-main__section .service-section {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.home-main__section .service-section .container {
  flex-direction: row;
}

.home-main__section .container .service-contents {
  width: 25%;
  height: 86px;
  display: flex;
  margin-left: 9px;
  flex-direction: row;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.home-main__section .service-contents img {
  margin-right: 10px;
  width: 33px;
  height: 35px;
}

.home-main__section .service-contents .contents-info {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}

.home-main__section .contents-info span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.home-main__section .contents-info p {
  width: 216px;
  height: auto;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* shop-section */

.shop-section {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop-section .container {
  flex-direction: column;
}

.shop-section .container .category-top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-section .category-top span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.shop-section .category-top a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.shop-section .category-top .border-liner {
  width: 32px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
}

.shop-section .container .category-wraper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-section .category-wraper .category-box {
  width: 152px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.shop-section .category-box .category-imgbox {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
  border: 1px solid rgba(234, 234, 234, 1);
}

.shop-section .category-box span {
  margin-top: 15px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

/* top-products */

.top-products {
  position: relative;
  margin-top: 62px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.top-products .container {
  display: flex;
  flex-direction: column;
}

.top-products .product_slider {
  position: relative;
  margin-top: 56px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-products .product_slider .product_cards {
  position: relative;
  width: 1224px;
  height: 452px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-products .product_cards .product_card {
  /* margin-right: 20px; */
  width: 306.91px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.top-products .product_card .product_img {
  width: 100%;
  height: 280px;
}

.top-products .product_img .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.top-products .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  transition: 4s;
}

.top-products .product_img:hover .hover_box {
  display: flex;
}

.top-products .product_card .product-content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.top-products .product-content_box .product-brand {
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.top-products .product-content_box .product_desc {
  margin-top: 8px;
  height: 56px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  overflow: hidden;
}

.top-products .product-content_box .rating-stars {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-stars img {
  margin-right: 5px;
}

.rating-stars span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.top-products .product-content_box .product-price {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-products .product-price .current-price {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.top-products .product-price .old-price {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

.top-products .product_next {
  width: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.top-products .product_next1 {
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: rotate(180deg);
}

.home-main__section .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 237, 255, 1);

  color: rgba(0, 83, 246, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

/* main-product__frame */

.home-main__section .main-product__frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.main-product__frame .container {
  flex-direction: column;
}

.container .main-product__wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.main-product__wrapper .big-product_box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 6px;
  box-sizing: border-box;
}

.big-product_box .big-product_content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big-product_content span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.big-product_content p {
  margin: 7px 0;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.big-product_content a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.big-product_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}

.main-product__wrapper .small-product_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.small-product_wrapper .small-products__box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 6px;
}

.small-products__box:nth-child(odd) {
  margin-right: 30px;
}

.small-products__box .small-product_content {
  display: flex;
  flex-direction: column;
}

.small-product_content strong {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.small-product_content span {
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.small-products__box img {
  position: absolute;
  bottom: 20%;
  right: 10%;
}
